<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <table>
        <tr>
            <td>sum of salaries</td>
            <td>{{tdict.tot_sal}}</td>

        </tr>
        <tr>
            <td>maximum salaries</td>
            <td>{{tdict.max_sal}}</td>
        </tr>
        <tr>
            <td>minimum salaries</td>
            <td>{{tdict.min_sal}}</td>
        </tr>
        <tr>
            <td>average salaries</td>
            <td>{{tdict.avg_sal}}</td>

            
        </tr>
    </table>
    
</body>
</html>